*{
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito Sans', sans-serif;
}

h1{
  font-weight: 900;
  font-size: 45px;
}

#main_p{
  margin-top: 50px;
}

.blue {
  color: rgb(55, 55, 204);
}

#div1 {
  background-color: rgb(241, 239, 239);
  width: 1000px;
  /* margin: 100px 60px 60px 100px; */
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}